.splash {
    cursor: pointer;
    position: fixed;
    padding-top: 30px;
    top: 30%;
    left: 50%;
    height: 50%;
    width: 60%;
    transform: translate(-50%, -50%);


}

.btn-lg {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}


.likes_button{
    background-color: transparent;
    position: fixed;
}

.silver_b {
    color:silver;
}

.btn2{
    position: absolute;
    width: 5%;
    max-width: 500px;
    top:180px;
    left:40%;
    background-color: transparent;
    border-color: silver;

}

.btn3 {
    position: absolute;
    width: 5%;
    max-width: 500px;
    top: 180px;
    left: 40%;
    background-color: transparent;
    border-color: red;

}

.red{
    padding-top: 20px;

}

ul {
    list-style-type: none;
}
ul li {
    float: left;
}

.book2{
    padding-left: 430px;

}

.muted1{
    padding-left: 390px;
}

.post1{
    padding-bottom: 10px;
}
.name{
    color: red;
}

.comment{
    color: red;
}

.btn-secondary{
    width: 245px;
}

.text{
    width: 245px;
}
.comment-1{
    margin-top: 30px;
    font-weight: bold;
    margin-bottom: 50px;
    padding-bottom: 30px;
}
.new-pub{
    margin-top: 30px;
    margin-bottom: 10px;
}
.pub{
    margin: 0 auto;
}
.bod{
    background-color: white;
}


.displayed{
    width:650px;
    height: 500px;
    margin: 0 auto;
}
.container{
    background-color: silver;
    width: 750px ;
}

/***********************************регистрация*/


body {font-family: Arial, Helvetica, sans-serif;}
 {box-sizing: border-box;}

/* Поля ввода полной ширины */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Установите стиль для всех кнопок */
button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.color{

    background-color: #474e5d;
}

button:hover {
    opacity:1;
}

/* Дополнительные стили для кнопки Отмена */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Модальный (фон) */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Оставаться на месте */
    z-index: 1; /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включите прокрутку, если это необходимо */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Модальное содержание/бокс */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% сверху, 15% снизу и по центру */
    border: 1px solid #888;
    width: 80%; /* Может быть больше или меньше, в зависимости от размера экрана */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Кнопка закрытия (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

.header{
     padding-bottom: 30px;
    padding-top: 20px;
     background-color: #474e5d;
}
